@font-face {font-family: Roboto-Regular;src: url(fonts/Roboto-Regular.ttf)}
@font-face {
    font-family: Roboto-Bold;
    src: url("fonts/Roboto-Bold.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto-Regular, serif;

}

.left {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2rem;
}

.right {
    width: 100%;
    height: 30rem;
    background-color: white;
    background-image: url("img/illustration-sign-up-mobile.svg");
    background-size: cover;
    background-position: center;
    border-radius: 0 0 20px 20px;
}

.white {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

.Stay {
    font-size: 2.5rem;
    /* margin-top: 0.5rem; */
    margin-bottom: 1.5rem;
    color: rgb(38, 35, 53);
    font-family: Roboto-Bold, serif;
}

.Join {
    white-space: nowrap;
    margin-bottom: 2rem;
}

ul {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    list-style-image: url("img/icon-list.svg");
}

li {
    /* margin-bottom: 0.25rem; */
    padding-left: 1rem;
}

.emailAddress {
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: 2rem;
}

.thisForm {
    margin-top: 0.5rem;
}

.myInput {
    background-color: white;
    padding: 1rem 0 1rem 1rem;
    width: 100%;
    border: 1px solid rgb(212, 201, 201);
    border-radius: 10px;
}

.submitButton {
    background-color: rgb(38, 35, 53);
    border: none;
    padding: 1rem 0 1rem 0;
    width: 100%;
    border-radius:10px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.submitButton:hover,
.submitButton:focus {
    background: linear-gradient(to right, #fe517b, #FE6838);
}

/*------------------------------------------------------*/

.container {
    margin: 7rem 1.5rem 0 1.5rem;
}

.imgSuccess {
    margin-bottom: 2.5rem;
    width: 4rem; /* Set the desired width */
    height: 4rem;
}

.Thanks {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.confirmationParagraph {
    white-space: nowrap;
    margin-bottom: 9rem;
    display: block;
}

.Dismiss {
    background-color: rgb(38, 35, 53);
    border: none;
    padding: 1rem 0 1rem 0;
    /* width: 350px; */
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    width: 100%;
}

.Dismiss:hover,
.Dismiss:focus {
    background: linear-gradient(to right, #fe517b, #FE6838);
}


#subscription {
    display: block;
}

#confirm {
    display: none;
}

p.redError {
    color: red;
}

input.redError {
    background-color: rgb(255, 126, 126, 0.25);
    border: 1px solid rgb(255, 113, 113);
}

@media screen and (min-width: 428px){
    section.text-align {
        text-align: center;
    }
}