* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(54, 57, 77);
}

.white {
    background-color: white;
    width: 55rem;
    height: 35rem;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 5px 2.5px 30px rgba(0, 0, 0, 0.845);
}

.left {
    width:55%;
    margin: 1.9rem;
    border-radius: 20px;
    padding-left: 2rem;
}

.right {
    background-color: white;
    background-image: url("img/illustration-sign-up-desktop.svg");
    background-size: cover;
    /* background-position: 65%; */
    width: 45%;
    margin: 1.9rem;
    border-radius: 20px;
    margin-left: 0;
}

.Stay {
    font-size: 3.2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: rgb(38, 35, 53);
}

ul {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    list-style-image: url("img/icon-list.svg");
}

li {
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.emailAddress {
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: 2.5rem;
}

.thisForm {
    margin-top: 0.5rem;
}

.myInput {
    background-color: white;
    padding: 1rem 0 1rem 1rem;
    width: 350px;
    border: 1px solid rgb(212, 201, 201);
    border-radius: 10px;
}

.submitButton {
    background-color: rgb(38, 35, 53);
    border: none;
    padding: 1rem 0 1rem 0;
    width: 350px;
    border-radius:10px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.submitButton:hover,
.submitButton:focus {
    background: linear-gradient(to right, #fe517b, #FE6838);
}

.container {
    background-color: white;
    width: 25rem;
    height: 25rem;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 5px 2.5px 30px rgba(0, 0, 0, 0.845);
    flex-direction: column;
    padding: 3rem;
}

.Thanks {
    font-size: 2.8rem;
    color: rgb(38, 35, 53);
    line-height: 2.5rem;
}

.confirmationParagraph {
    font-size: 0.80rem;
    margin-top: 1.5rem;
    line-height: 1.15rem;
}

strong {
    color:rgb(38, 35, 53);
}

.Dismiss {
    background-color: rgb(38, 35, 53);
    border: none;
    padding: 1rem 0 1rem 0;
    /* width: 350px; */
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.Dismiss:hover,
.Dismiss:focus {
    background: linear-gradient(to right, #fe517b, #FE6838);
}

.imgSuccess {
    margin-bottom: 25px;
}

#subscription {
    display: block;
}

#confirm {
    display: none;
}

p.redError {
    color: red;
}

input.redError {
    background-color: rgb(255, 126, 126, 0.25);
    border: 1px solid rgb(255, 113, 113);
}